.container {
    margin: 0;
    padding: 0;
    font-family: var(--font-geist-sans), sans-serif;
    box-sizing: border-box;
    background: darkgrey;
    min-height: 100vh;
    width: 100%;
}

.card {
    width: 90%;
    max-width: 470px;
    background: #3eb489;
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.search input {
    /* search box border */
    border: 0;
    outline: 0;

    /* search box color */
    background: #ebfffc !important;

    /* text color */
    color: #555 !important;

    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc !important;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button img {
    width: 16px;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.weather h1 {
    font-size: 80px;
    font-weight: 500px;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400px;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 0 20px;
    margin-top: 20px;
}

.col {
    display: flex;
    align-items: center;

    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.col p {
    margin: 0;
}